@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body{
    background: url(../assets/img/fundoBg.gif);
    display: flex;
    flex-direction: column;
    font-family: 'Silkscreen', cursive;
}
.containerContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.inputIncrement{
    display: none;
    width: 40px;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 4px 4px rgb(4, 121, 30);
}
.inputsSelect{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 2rem;
    
}
.pillRed, .pillBlue{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    width: 150px;
    height: 50px;
    background: linear-gradient(352deg, rgba(253, 17, 0, 0.897) 37%, rgba(228, 79, 79, 0.733) 51%, rgba(255, 1, 1, 0.863) 67%);
    box-shadow: rgba(255, 0, 0, 0.733) 0px 5px 15px;
    color: rgb(233, 233, 233);
    
    border-radius: 89%;
    
}
.pillBlue{
    background: linear-gradient(352deg, rgba(9, 110, 182, 0.788) 37%, rgba(73, 128, 231, 0.747) 51%, rgba(7, 94, 207, 0.747) 67%);
    box-shadow: rgba(4, 107, 175, 0.733) 0px 5px 15px;
    font-size: 12pt;
}
.inputsSelect label{
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}
.inputsSelect input{
    visibility: hidden;
}

textarea{
   
    height: 150px;
    width:450px;
    margin: 1rem;
    padding: 0.5rem;

    resize: none;

    background: rgba(187, 184, 184, 0.521);
    color: #20ff42;
    font-family: 'Silkscreen', cursive;
}

.buttons button{
    height: 3rem;
    width: 9rem;
    margin: 1rem;

    font-family: 'Silkscreen', cursive;;
    color: white;
    background: linear-gradient(340deg, rgba(24,91,18,1) 0%, rgba(40,198,76,1) 52%, rgba(40,101,32,1) 100%);

    border-radius: 5px;
    transition: all ease 0.2s;
}
.buttons button:hover{

    transform: scale(1.2);
    transition: all ease 0.2s;
}
.buttons button:active{
    transform: scale(0.9);
}   
